@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: 255, 255, 255;
  --black: 34, 34, 34;
  --lightGray: 232, 232, 232;
  --grayHover: 202, 202, 202;
  --gray: 137, 137, 137;
  --accentWarm: 255, 87, 34;
  --warmHover: 255, 141, 83;
  --accentCold: 237, 35, 102;
  --coldHover: 224, 118, 143;
  --darkWhite: 20, 20, 20;
  --darkBlack: 255, 255, 255;
  --darkLightGray: 25, 25, 25;
  --darkGrayHover: 94, 94, 94;
  --darkGray: 137, 137, 137;
  --darkAccentWarm: 255, 87, 34;
  --darkWarmHover: 255, 141, 83;
  --darkAccentCold: 237, 35, 102;
  --darkColdHover: 224, 118, 143;
}
@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  .proseClass {
    @apply prose max-w-3xl text-r-black focus:outline-none prose-a:cursor-pointer prose-a:text-r-accentCold prose-strong:font-black prose-pre:bg-[#282c34] prose-img:rounded-md dark:text-r-darkBlack dark:prose-headings:text-r-darkBlack dark:prose-strong:text-r-darkBlack;
  }
}

/* TIPTAP EDITOR */
.ProseMirror p.is-editor-empty:first-child::before {
  color: rgb(var(--gray));
  content: attr(data-placeholder);
  float: left;
  height: 0;
}
.tippy-content,
.tippy-box,
div[data-tippy-root] {
  pointer-events: none;
}
/* .ProseMirror:focus p.is-editor-empty:first-child::before {
  display: none;
} */
ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}
ul,
ul > *,
ul > * > *,
.ProseMirror {
  word-break: break-all;
  pointer-events: auto !important;
}
ul[data-type="taskList"] p {
  margin: 0;
}
ul[data-type="taskList"] li {
  display: flex;
  flex-direction: row;
}
ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  margin-top: 0;
  user-select: none;
}
ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
  margin-bottom: 0;
}
